<a href="https://colab.research.google.com/github/EmanuelCAC/data_science_ads/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Criar a Series notas
grades = pd.Series([7.6, 5.8, 8.5, 9.5, 6.4])

# Criar a Series alunos
lst_registration = ['M02', 'M05', 'M13', 'M14', 'M19']
lst_names = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']
students = pd.Series(lst_names, index=lst_registration)

print(grades)
print('------------------------')
print(students)

0    7.6
1    5.8
2    8.5
3    9.5
4    6.4
dtype: float64
------------------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [ ]:
# Criação de Series - Dicionario
dic_students = {'M02':'Bob', 'M05':'Dayse', 'M13':'Bill', 'M14':'Cris', 'M19':'Jimi'}
students2 = pd.Series(dic_students)
print(students2)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [ ]:
# Propriedades básicas das Series
students = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill', 'M14':'Cris', 'M19':'Jimi'})

# Atribuição de nomes para os vetores de dados e rótulos (indices)
students.name = "alunos"
students.index.name = "matricula"

print(students)

size = students.size
data = students.values
labels = students.index
students_type = type(students)
students_dtype = students.dtype
students_idx_dtype = students.index.dtype

print('-----------------------------')
print('número de elementos: ', size)
print('vetor de dadps: ', data)
print('vetor de rótulos: ', labels)
print('tipo (type): ', students_type)
print('dtype da Series: ', students_dtype)
print('dtype do vetor de dados: ', students_idx_dtype)

matricula
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
---------------------------
número de elementos:  5
vetor de dadps:  ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rótulos:  Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matricula')
tipo (type):  <class 'pandas.core.series.Series'>
dtype da Series:  object
dtype do vetor de dados:  object

In [ ]:
# obém os indices de alunos aprovados
idx_approved = grades[grades >= 7].index

# imprimi os alunos aprovados
print('Relação de alunos aprovados')
print('---------------------------')
# print(students[idx_approved])
print(students.iloc[idx_approved])

Relação de alunos aprovados
---------------------------
matricula
M02     Bob
M13    Bill
M14    Cris
Name: alunos, dtype: object

In [ ]:
# Buscas em Series

has_M13 = 'M13' in students
has_M99 = 'M99' in students

print('Exite o rótulo "M13"? -> ', has_M13)
print('Exite o rótulo "M99"? -> ', has_M99)

# teste se valores faz parte da Series
has_Bob = students.isin(['Bob'])
print('Existe o valor "Bob"? -> ', has_Bob)

has_Cris = students.isin(['Cris'])
print('Existe o valor "Cris"? -> ', has_Cris)

Exite o rótulo "M13"? ->  True
Exite o rótulo "M99"? ->  False
Existe o valor "Bob"? ->  matricula
M02     True
M05    False
M13    False
M14    False
M19    False
Name: alunos, dtype: bool
Existe o valor "Cris"? ->  matricula
M02    False
M05    False
M13    False
M14     True
M19    False
Name: alunos, dtype: bool